CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Generated folders and files
.vs/
bin/
build/

CMakeSettings.json

# Dependencies
SDL2/

# 3DS
build/
romfs/*
*.elf
*.3dsx
*.cia
*.smdh
*.bnr
